.dvlp
.npm
node_modules
.DS_Store
/index.d.ts
/index.js
/browser.js
/shared.js
/directives/
# The package store used during GitHub workflows
# Will be commited by Changeset if not ignored
.pnpm-store/
