; This is false to avoid issues in GitHub actions
git-checks = false

; pnpm config
; Require explicit linking of workspace packages with 'workspace:xxx' protocol
link-workspace-packages = false
; Don't maintain separate lock files for each workspace package
shared-workspace-lockfile = true
publish-branch = main
